<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.networksocialapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".CreateReflectActivity"></activity>
        <activity android:name=".admin.HomeManagerActivity" />
        <activity android:name=".resident.homeapp.view_profile_manager.ProfileManagerFromUserActivity" />
        <activity android:name=".admin.setting_infor_manager.SettingInforManagerActivity" />
        <activity android:name=".ProfileDetailActivity" />
        <activity android:name=".user.list_chat_activity.ListChatActivity" />
        <activity android:name=".user.chat.ChatActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="mystickers" />
                <data android:host="sticker" />
            </intent-filter>
        </activity>
        <activity android:name=".user.comment.CommentActivity" />
        <activity android:name=".resident.homeapp.profile_other_user.ProfileOtherUserActivity" />
        <activity android:name=".user.reset_password.ForgotPasswordActivity" />
        <activity android:name=".resident.homeapp.search.SearchUserActivity" />
        <activity android:name=".resident.homeapp.update_profile.UpdateProfileActivity" />
        <activity android:name=".resident.homeapp.setting_info_profile.SettingInformationProfileActivity" />
        <activity android:name=".resident.homeapp.setting_image_profile.SettingImageProfileActivity" />
        <activity
            android:name=".resident.homeapp.add_post.AddPostActivity"
            android:label="@string/title_activity_add_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".resident.homeapp.HomeActivity" />
        <activity android:name=".user.register.RegisterActivity" />
        <activity android:name=".user.login.LoginActivity" />
        <activity android:name=".user.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".user.notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".user.notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".StickerIndexingService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>